.cartCompo {
    background-color: #ffffff;
    padding: 3rem 6rem;
    min-height: 67vh;
    font-family: 'Open Sans', sans-serif;
}

.cartCompo h2 {
    color: #025048;
    font-family: 'Vollkorn', serif;
    font-size: 2rem;
    margin-block-end: 2rem;
}

.content {
    display: flex;
    gap: 2rem;
}

.products {
    flex-grow: 0.7;
}

.totals {
    flex: 0.9;
    height: fit-content;
}

table {
    border: 1px solid #d1d1d1;
    border-collapse: collapse;
}

.products table tr,
.products table td,
.products table th {
    border: 1px solid #d1d1d1;
    border-inline: none;
}

td {
    color: #3b3b3b;
}

.content thead th,
.content tbody td {
    padding: 1rem;
}

.content thead th {
    background-color: #e2ffe2;
    width: 100%;
    text-align: left;
}

.products thead th {
    text-transform: capitalize;
    color: #4b4b4b;
}

.totals {
    border: 1px solid #d1d1d1;
}

.totals hr {
    margin: 0;
    margin-inline: 1rem;
}

.totals h4 {
    border-bottom: 1px solid #d1d1d1;
    padding-inline-start: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 0.6rem;
    background-color: #e2ffe2;
    color: #025048;
    font-family: 'Vollkorn', serif;
    font-weight: 600;
    font-size: 1rem;
}

.totals p {
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    font-weight: 500;
    color: #3b3b3b;
}

.totals p span {
    margin-inline-start: 2rem;
}

.totals div {
    display: flex;
    justify-content: space-between;
}

.couponBtn {
    color: #3b3b3b;
    text-transform: none;
    margin-block-start: 2rem;
    padding: 0;
}

.checkoutBtn {
    color: #025048;
    border-color: #025048;
    width: 100%;
    margin-block: 1rem;
    padding-block: 1rem;
    transition: 0.3s ease-in-out;
}

.checkoutBtn a {
    text-decoration: none;
    color: #025048;
    transition: 0.3s ease-in-out;
}

.checkoutBtn:hover {
    color: #ffffff;
    background-color: #025048;
}

.checkoutBtn:hover a {
    color: #ffffff;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-inline: 1rem;
}

thead tr th:first-child {
    padding-inline-start: 7.2rem;
}

tbody tr td.name {
    color: #025048;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    font-weight: 600;
}

tbody tr td.name button {
    border: none;
    outline: none;
    background-color: transparent;
}

tbody tr td.name button:hover svg {
    fill: red;
    transition: 0.3s ease-in-out;
}

tbody tr td.name svg {
    width: 16px;
    fill: #4b4b4b;
}

tbody tr td.name img {
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tbody tr td.productAction {
    border: none;
}

.productAction {
    display: flex;
    margin-block-end: 1rem;
}

.productAction button,
.productAction p {
    border: 1px solid #a1a1a1;
    padding: 0.3rem;
    width: 40px;
    text-align: center;
    font-size: 1.1rem;
    color: #4b4b4b;
}

.productAction button {
    font-weight: 600;
    background-color: transparent;
}

.productAction p {
    border-left: none;
    border-right: none;
}

.emptyCart {
    border-top: 2px solid #025048;
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #3b3b3b;
    font-weight: 500;
    background-color: #e2ffe2;
    padding: 1rem;
}

.emptyCart svg {
    width: 30px;
    fill: #025048;
}

.returnBtn {
    color: #025048;
    border-color: #025048;
    margin-block-start: 2rem;
    transition: 0.3s ease;
}

.returnBtn:hover {
    color: #ffffff;
    background-color: #025048;
}

.returnBtn:hover a {
    color: #ffffff;
    transition: 0.3s ease;
}

.returnBtn a {
    text-decoration: none;
    color: #025048;
}
