.trending {
    background-color: #ffffff;
    padding: 3rem 6rem;
}

.trending h5 {
    color: #025048;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-block-end: 1.5rem;
}

.heading {
    color: #025048;
    font-family: 'Vollkorn', serif;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-block-end: 2rem;
}

.trendingProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
